@import "tailwindcss";

html {
  scroll-behavior: smooth;
  background-color: oklch(var(--background));
}
@layer base {
  :root {
    --background: oklch(96.96% 0.0000 0);
    --foreground: oklch(16.98% 0.0000 0);
    --card: oklch(from var(--primary-base) l c h / 0.1);
    --card-foreground: var(--foreground);
    --popover: oklch(100.00% 0.0000 0);
    --popover-foreground: oklch(21.56% 0.0000 0);
    --primary-base: oklch(53.11% 0.1062 234.34);
    --primary: var(--primary-base);
    --primary-foreground: oklch(100.00% 0.0000 0);
    --secondary: oklch(79.40% 0.1709 71.06);
    --secondary-foreground: oklch(0.00% 0.0000 0);
    --muted: oklch(93.40% 0.0046 179.72);
    --muted-foreground: oklch(43.71% 0.0000 0);
    --accent: oklch(92.62% 0.0150 192.09);
    --accent-foreground: oklch(20.44% 0.0000 0);
    --destructive: oklch(54.26% 0.1899 27.12);
    --border: oklch(from var(--primary-base) l c h / 0.2);
    --input: oklch(from var(--primary-base) l c h / 0.2);
    --ring: oklch(from var(--primary-base) l c h / 0.2);
    --chart-1: oklch(67.72% 0.1571 35.19);
    --chart-2: oklch(63.09% 0.1013 183.49);
    --chart-3: oklch(37.87% 0.0440 225.54);
    --chart-4: oklch(83.36% 0.1186 88.15);
    --chart-5: oklch(78.34% 0.1261 58.75);
    --radius: 1.5rem;
    --sidebar-background: oklch(98.48% 0.0000 0);
    --sidebar-foreground: oklch(37.05% 0.0120 285.80);
    --sidebar-primary: oklch(21.03% 0.0059 285.88);
    --sidebar-primary-foreground: oklch(98.48% 0.0000 0);
    --sidebar-accent: oklch(96.76% 0.0013 286.37);
    --sidebar-accent-foreground: oklch(21.03% 0.0059 285.88);
    --sidebar-border: oklch(92.78% 0.0058 264.53);
    --sidebar-ring: oklch(62.32% 0.1879 259.80);
  }
  .dark {
    --background: oklch(14.57% 0.0000 0);
    --foreground: oklch(98.48% 0.0000 0);
    --card: var(--background);
    --card-foreground: var(--foreground);
    --popover: oklch(0.00% 0.0000 0);
    --popover-foreground: oklch(94.27% 0.0097 73.14);
    --primary: var(--primary-base);
    --primary-foreground: oklch(20.44% 0.0000 0);
    --secondary: oklch(79.40% 0.1709 71.06);
    --secondary-foreground: oklch(0.00% 0.0000 0);
    --muted: oklch(26.86% 0.0000 0);
    --muted-foreground: oklch(71.53% 0.0000 0);
    --accent: oklch(26.86% 0.0000 0);
    --accent-foreground: oklch(98.48% 0.0000 0);
    --destructive: oklch(39.96% 0.1348 25.77);
    --border: oklch(from var(--primary-base) l c h / 0.2);
    --input: oklch(from var(--primary-base) l c h / 0.2);
    --ring: oklch(from var(--primary-base) l c h / 0.2);
    --chart-1: oklch(52.92% 0.1931 262.13);
    --chart-2: oklch(69.83% 0.1337 165.46);
    --chart-3: oklch(72.32% 0.1500 60.63);
    --chart-4: oklch(61.92% 0.2037 312.73);
    --chart-5: oklch(61.23% 0.2093 6.39);
    --sidebar-background: oklch(21.03% 0.0059 285.88);
    --sidebar-foreground: oklch(96.76% 0.0013 286.37);
    --sidebar-primary: oklch(48.78% 0.2170 264.39);
    --sidebar-primary-foreground: oklch(100.00% 0.0000 0);
    --sidebar-accent: oklch(27.41% 0.0055 286.03);
    --sidebar-accent-foreground: oklch(96.76% 0.0013 286.37);
    --sidebar-border: oklch(27.41% 0.0055 286.03);
    --sidebar-ring: oklch(62.32% 0.1879 259.80);
  }
}
