@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar-background: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

html {
  scroll-behavior: smooth;
  background-color: oklch(var(--background));
  color-scheme: light dark;
}

@layer base {
  :root {
    --background: light-dark(oklch(96.96% 0 0), oklch(14.57% 0 0));
    --foreground: light-dark(oklch(16.98% 0 0), oklch(98.48% 0 0));
    --card: light-dark(
      oklch(from var(--primary-base) l c h / 0.1),
      var(--background)
    );
    --card-foreground: var(--foreground);
    --popover: light-dark(oklch(100.00% 0 0), oklch(0.00% 0 0));
    --popover-foreground: light-dark(
      oklch(21.56% 0 0),
      oklch(94.27% 0.0097 73.14)
    );
    --primary-base: light-dark(
      oklch(53.11% 0.1062 234.34),
      oklch(78.69% 0.1165 192.26)
    );
    --primary: var(--primary-base);
    --primary-foreground: light-dark(oklch(100.00% 0 0), oklch(20.44% 0 0));
    --secondary: oklch(79.40% 0.1709 71.06);
    --secondary-foreground: oklch(0.00% 0 0);
    --muted: light-dark(oklch(93.40% 0.0046 179.72), oklch(26.86% 0 0));
    --muted-foreground: light-dark(oklch(43.71% 0 0), oklch(71.53% 0 0));
    --accent: light-dark(oklch(92.62% 0.015 192.09), oklch(26.86% 0 0));
    --accent-foreground: light-dark(oklch(20.44% 0 0), oklch(98.48% 0 0));
    --destructive: light-dark(
      oklch(54.26% 0.1899 27.12),
      oklch(39.96% 0.1348 25.77)
    );
    --border: oklch(from var(--primary-base) l c h / 0.2);
    --input: oklch(from var(--primary-base) l c h / 0.2);
    --ring: oklch(from var(--primary-base) l c h / 0.2);
    --chart-1: light-dark(
      oklch(67.72% 0.1571 35.19),
      oklch(52.92% 0.1931 262.13)
    );
    --chart-2: light-dark(
      oklch(63.09% 0.1013 183.49),
      oklch(69.83% 0.1337 165.46)
    );
    --chart-3: light-dark(oklch(37.87% 0.044 225.54), oklch(72.32% 0.15 60.63));
    --chart-4: light-dark(
      oklch(83.36% 0.1186 88.15),
      oklch(61.92% 0.2037 312.73)
    );
    --chart-5: light-dark(
      oklch(78.34% 0.1261 58.75),
      oklch(61.23% 0.2093 6.39)
    );
    --radius: 1.5rem;
    --sidebar-background: light-dark(
      oklch(98.48% 0 0),
      oklch(21.03% 0.0059 285.88)
    );
    --sidebar-foreground: light-dark(
      oklch(37.05% 0.012 285.8),
      oklch(96.76% 0.0013 286.37)
    );
    --sidebar-primary: light-dark(
      oklch(21.03% 0.0059 285.88),
      oklch(48.78% 0.217 264.39)
    );
    --sidebar-primary-foreground: light-dark(
      oklch(98.48% 0 0),
      oklch(100.00% 0 0)
    );
    --sidebar-accent: light-dark(
      oklch(96.76% 0.0013 286.37),
      oklch(27.41% 0.0055 286.03)
    );
    --sidebar-accent-foreground: light-dark(
      oklch(21.03% 0.0059 285.88),
      oklch(96.76% 0.0013 286.37)
    );
    --sidebar-border: light-dark(
      oklch(92.78% 0.0058 264.53),
      oklch(27.41% 0.0055 286.03)
    );
    --sidebar-ring: oklch(62.32% 0.1879 259.8);
  }

  input::placeholder {
    font-size: 0.875rem;
    color: var(--color-muted-foreground);
  }
}

@layer components {
  .combobox-container.combobox-open #project-combobox-list {
    display: block;
  }

  .combobox-container.combobox-open .combobox-chevron {
    transform: rotate(180deg);
  }
}
